<div>
  <div class="dropdown" [ngClass]="{'is-active' : searchTerm.trim()}">
    <div class="dropdown-trigger">
      <div class="field">
        <p class="control is-expanded ">
            <input class="input" [(ngModel)]="searchTerm" type="search" placeholder="Search..."/>
        </p>
      </div>
    </div>
    <div class="dropdown-menu is-overlay" role="menu">
      <div class="dropdown-content">
        <a *ngFor="let option of getOptions()" [routerLink]="option.id"
          href="#"
          class="dropdown-item">
          {{option.dropdownLabel}}
      </a>
      </div>
    </div>
  </div>
  <table class="table is-hoverable">
    <thead>
      <tr>
        <th><abbr title="Number">#</abbr></th>
        <th *ngFor="let field of fields">{{field | uppercase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index" [routerLink]="[item.id]" class="is-clickable">
        <th>{{i+1}}</th>
        <td *ngFor="let field of fields">{{item[field]}}</td>
      </tr>
    </tbody>
  </table>
</div>