<div>
  <div class="field is-horizontal" *ngFor="let field of fields">
    <div class="field-label is-capitalized">
      <label class="label is-capitalized">{{field.label}}</label>
    </div>
    <div class="field-body">
      <div class="field" *ngIf="!field.related">
        {{field.value}}
      </div>
      <div class="field" *ngIf="field.related">
        <div class="buttons are-small">
          <button class="button is-primary is-outlined" *ngFor="let related of field.related"
            [routerLink]="['/'+related.target, related.id]">{{related.label}}</button>
        </div>
      </div>
    </div>
  </div>
</div>